body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.container {
    text-align: center;
}


h1 {
    font-size: 60px;
    margin-top: 180
}


img {
    max-width: 100%;
    height: auto;
    margin-top: 80px;
}


p {
    font-size: 18px;
    margin-top: 40px;
    text-align: left;
    margin-left: 320px;
    margin-right: 320px;
}
