body {
    background-color: #072255;
    color: white;
    font-family: Arial, sans-serif;
    font-style:oblique;
    text-align: center;
    margin: 20px;
}

#story-container {
    margin: 20px;
    font-size: 38px;
}

